name: CI
on:
  pull_request:
    branches: [main, develop]

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.13, 1.14, 1.15]

    steps:
      - uses: actions/checkout@v2
      - name: Setup go  ${{ matrix.go-version }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Build package
        run: make build
      - name: Lint code
        run: make lint
      - name: Run tests
        run: make test
